<!DOCTYPE html>
<html>
<head>
	<title><%=parentPost.title%></title>
</head>
<body>
	<%= parentPost.title %><br>
	<%= parentPost.content %><br>
	<%= parentPost.author %><br>
	Rating: <%= parentPost.rating %><br>
	<form method="POST" action="/categories/<%=parentPost.categories_id%>/posts/<%=parentPost.id%>?_method=PUT">
		<input type="hidden" name="rating" value= <%=parentPost.rating%> >
		<input type="submit" value="All About This">
	</form>
	
	<% comments.forEach(function(comment){ %>
	<p> <%=comment.message %></p>
	<p> <%=comment.username %></p>
	<% }) %>

	<form method="POST" action="/categories/<%=parentPost.categories_id%>/posts/<%=parentPost.id%>">
		<textarea cols="20" rows="10" name="message" placeholder="Add a Comment"></textarea><br>
		<input type="text" name="username" placeholder="Username"><br>
		<input type="submit" value="Add Comment">
	</form>




</body>
</html>